html, body {
    padding: 0;
    border: 0;
    margin: 0;
    height: 150%;
}
header {
    overflow: hidden; 
    padding: 0;
    border: 0;
    margin: 0;
}
header img {
    object-fit: cover;
    object-position: center;
}
nav {
    position: sticky;
    top: 0;
}